<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <resource-ref>
    <description>DB pool 연결</description>
    <res-ref-name>jdbc/kmap</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
   <error-page>
    <error-code>404</error-code>
    <location>/error/Client.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/Server.jsp</location>
  </error-page>
   <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.kmap.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>pairing</servlet-name>
  	<servlet-class>com.kmap.control.PairingController</servlet-class>
  	<init-param>
  		<param-name>properties</param-name>
  		<param-value>pairing.properties</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>pairing</servlet-name>
  	<url-pattern>*.pairing</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>refund</servlet-name>
    <servlet-class>com.kmap.control.RefundController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>refund.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>refund</servlet-name>
    <url-pattern>*.refund</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>com.kmap.control.MemberController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>member.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>*.member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.kmap.control.AdminController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>admin.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>*.admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alchol</servlet-name>
    <servlet-class>com.kmap.control.AlcholController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>alchol.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>alchol</servlet-name>
    <url-pattern>*.alchol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ticket</servlet-name>
    <servlet-class>com.kmap.control.TicketController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>ticket.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ticket</servlet-name>
    <url-pattern>*.ticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>maker</servlet-name>
    <servlet-class>com.kmap.control.MakerController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>maker.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>maker</servlet-name>
    <url-pattern>*.maker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>basket</servlet-name>
    <servlet-class>com.kmap.control.BasketController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>basket.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>basket</servlet-name>
    <url-pattern>*.basket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>purchase</servlet-name>
    <servlet-class>com.kmap.control.PurchaseController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>purchase.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>purchase</servlet-name>
    <url-pattern>*.purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice</servlet-name>
    <servlet-class>com.kmap.control.NoticeController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>notice.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice</servlet-name>
    <url-pattern>*.notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>question</servlet-name>
    <servlet-class>com.kmap.control.QuestionController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>question.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>question</servlet-name>
    <url-pattern>*.question</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>freeboard</servlet-name>
    <servlet-class>com.kmap.control.FreeboardController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>freeboard.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>freeboard</servlet-name>
    <url-pattern>*.freeboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reply</servlet-name>
    <servlet-class>com.kmap.control.ReplyController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>reply.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>reply</servlet-name>
    <url-pattern>*.reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>festival</servlet-name>
    <servlet-class>com.kmap.control.FestivalController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>festival.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>festival</servlet-name>
    <url-pattern>*.festival</url-pattern>
  </servlet-mapping>
</web-app>